.navbar-brand{
   position: relative;
    top: -60px;
    color: red;
    flex-grow: 5;
    font-size: 30px;
}
.navEle{
    position: relative;
    justify-content: space-between;
    margin-right: 20px;
    font-size: 30px;
    right: -900px;
    top: -100px;
    display: inline;
    align-items: stretch;
    text-decoration: none;
    color:red;
}


.btn-primary{
    font-size: 70px;
    justify-content: center;
}
p{
    font-size: 30px;
    color: rgb(255, 0, 72);
}
body{
    /* background-image: url(/backgroundddd.jpg!sw800); */
    background-repeat: no-repeat;
}

   


.bruschetta{
    /* display: flex; */
    /* justify-content: center; */
}
img {
    width: 500px;
}
.btn btn-primary mb-2{
    background-color: aqua;
}
/* #instagram{
    justify-content: center;
} */
/* .col{
    flex-direction: row;
} */
 /* .container5{
    flex-direction: row;
 } */
  /* .btn-primary{
    justify-content: center;
  } */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
      /* background-image: url(/background\ 3.webp); */
      background-image: url('https://marketplace.canva.com/EAFA7Zl1wfs/1/0/800w/canva-pastel-red-green-illustrative-element-centric-video-background-iIFp5eiQcPg.jpg');
      background-repeat: repeat;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
    }
    .logo{
        display: none;
    }
    .navbar-brand{
        font-size: 36px;
        line-height: 50px;
    }
    .btn-primary{
        font-size: 36px;
        line-height: 50px;
    }
    .navEle{
        font-size: 20px;
        line-height: 50px;
        color: white;
        position: relative;
        top: 3px ;
        left: 30px;
    }
    .main-nav{
       
        background-color: red;
    }
.main{
    display: flex;
   flex-wrap: wrap;
}
.container{
    height: 100px;
}


  }
   /* .btn-primary{
    font-size: 36px;
    line-height: 50px;
   } */

 
    
    
   .row{
    display: flex;
    flex-direction: row-reverse ;

   }